<!DOCTYPE HTML>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>{{title}}</title>
    <link rel="stylesheet" href="{{css_asset_path}}" />
  </head>
  <body>
    {{yield}}
    <script src="{{js_asset_path}}"></script>
  </body>
</html>
