<!DOCTYPE HTML>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>{{title}}</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap-combined.min.css" />
    <link rel="stylesheet" href="{{css_asset_path}}" />
  </head>
  <body>
    {{yield}}
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="{{js_asset_path}}"></script>
  </body>
</html>
