<div class="container">

  <div class="page-header">
    <a class="pull-right btn btn-primary" href="/dashboard/projects/new">
      <i class="icon-plus-sign"></i> Add New Project
    </a>
    <h3>Current Projects</h3>
  </div>

  <table class="table table-bordered table-striped table-projects">
    <thead>
      <tr>
        <th class="name">Project Name</th>
        <th class="uninvoiced-hours">Uninvoiced Hours</th>
        <th class="invoiced-hours">Invoiced Hours</th>
        <th class="total-hours">Total Hours</th>
        <th class="total-invoices">Total Invoices</th>
        <th class="last-clocked-in">Last Clocked-in</th>
      </tr>
    </thead>
    <tbody>
    {{#projects}}
      <tr>
        <td class="name"><a href="/dashboard/project/{{id}}">{{name}}</a></td>
        <td class="uninvoiced-hours">0</td>
        <td class="invoiced-hours">0</td>
        <td class="total-hours">0</td>
        <td class="total-invoices">0</td>
        <td class="last-clocked-in">Never</td>
      </tr>
    {{/projects}}
    {{^projects}}
      <tr>
        <td colspan="6">
          <div class="empty-set">
            <h4 class="text-center">
              <span class="muted">You haven't started any projects yet!</span>
              <a href="/dashboard/projects/new">Add one now!</a>
            </h4>
          </div>
        </td>
      </tr>
    {{/projects}}
    </tbody>
  </table>
</div>
