<div class="container">
  <div class="row-fluid">
    <div class="span8 jumbotron">
      <h1>Hourly billing just got easier.</h1>
      <p class="lead">
        Does keeping track of your time spent on contracted projects involve convoluted excel spreadsheets? Or maybe
        plaintext files that are a little bit <em>too simple</em> with timestamps on each line?
      </p>
      <p class="lead"><strong>Clocker's</strong> here to save you <em>time</em> by keeping track of <em>your time</em>!</p>
    </div>
    <div class="span3 offset1">
      <h3>Ready to clock-in?</h3>
      <form method="post" action="/account/register">
        <input class="input-block-level" type="email" name="email" placeholder="Email" value="{{values.email}}" autofocus />
        <input class="input-block-level" type="password" name="password" placeholder="Password" />
        <input class="input-block-level" type="password" name="password_confirmation" placeholder="Confirm Password" />
        <button type="submit" class="btn btn-primary input-block-level">Create Account</button>
      </form>
    </div>

  </div>

  <hr />

  <div class="row-fluid">
    <ul class="thumbnails">

      <li class="span3 thumbnail">
        <img width="100%" src="http://placehold.it/212x110" />
        <div class="caption">
          <h4><i class="icon-ok-circle"></i> Feature 1</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut luctus elementum accumsan. Integer vulputate posuere fermentum.</p>
        </div>
      </li>

      <li class="span3 thumbnail">
        <img width="100%" src="http://placehold.it/212x110" />
        <div class="caption">
          <h4><i class="icon-ok-circle"></i> Feature 2</h4>
          <p>Etiam vitae enim magna. Praesent sed ligula at sapien bibendum dignissim. Sed ante felis, pellentesque ut pulvinar convallis, porttitor vitae felis.</p>
        </div>
      </li>

      <li class="span3 thumbnail">
        <img width="100%" src="http://placehold.it/212x110" />
        <div class="caption">
          <h4><i class="icon-ok-circle"></i> Feature 3</h4>
          <p>Duis ultrices placerat justo nec ornare. Donec dictum, odio vel laoreet pretium, lectus mi scelerisque velit, at facilisis sem neque ut dui.</p>
        </div>
      </li>
      <li class="span3 thumbnail">
        <img width="100%" src="http://placehold.it/212x110" />
        <div class="caption">
          <h4><i class="icon-ok-circle"></i> Feature 4</h4>
          <p>Duis ac massa nibh. Donec metus est, vulputate sed condimentum at, aliquet vel ipsum. Aenean ac nunc orci, in suscipit lectus.</p>
        </div>
      </li>
    </ul>
  </div>

  <hr />
  <p>
      Built with <i class="icon-heart"></i> by <a href="http://evanpurkhiser.com">Evan Purkhiser</a>. Source code
      available on <a href="http://github.com/EvanPurkhiser/Clocker"><i class="icon-github-alt"></i> GitHub</a>.
  </p>
</div>
