.table-entries

  .start-time,
  .end-time,
  .money-made,
  .hours
    text-align: center

  .start-time,
  .end-time,
    width: 15%

  .money-made
    width: 12%

  .hours
    width: 8%

  .description
    width: 50%
