<section class="container">
  <div class="page-header">
    <a href="/dashboard/projects/" class="pull-right page-header-middle"><i class="icon-caret-left"></i> Back to projects</a>
    <h3>{{project.name}}</h3>
  </div>

  <div class="timer-control">
    <div class="row-fluid">
      <div class="span9 timer-details">
      {{#pending_entry}}
        <i class="icon-circle status clocked-in"></i>
        You've been on the clock for
        <strong data-seconds="{{seconds}}">{{time_clocked}}</strong> (since {{since.time}} {{since.day}}).
      {{/pending_entry}}
      {{^pending_entry}}
        <i class="icon-circle-blank status clocked-out"></i>
        It's <strong>{{current_time}}</strong>, ready to clock in?
      {{/pending_entry}}
      </div>
      <div class="span3">
      {{#pending_entry}}
        <a href="/dashboard/project/{{project.id}}/clock_out"class="pull-right btn"><i class="icon-ok"></i> Clock Out Now</a>
      {{/pending_entry}}
      {{^pending_entry}}
        <a href="/dashboard/project/{{project.id}}/clock_in" class="pull-right btn btn-primary"><i class="icon-plus"></i> Clock In Now</a>
      {{/pending_entry}}
      </div>
    </div>
  </div>

  <table class="table-entries table table-bordered table-striped">
    <thead>
      <tr>
        <th class="start-time">Clocked-in</th>
        <th class="end-time">Clocked-out</th>
        <th class="hours">Hours</th>
        <th class="money-made">Billable</th>
        <th class="description">Work Summary</th>
      </tr>
    </thead>
    <tbody>
    {{#entries}}
      <tr>
        <td class="start-time" title="{{start_time.full}}">{{start_time.short}}</td>
        <td class="end-time" title="{{end_time.full}}">{{end_time.short}}</td>
        <td class="hours">{{total_hours}}</td>
        <td class="money-made">{{money_made}}</td>
        <td class="description">
          {{description}}
          {{^description}}
          <small class="muted">No description for this entry</small>
          {{/description}}
        </td>
      </tr>
    {{/entries}}
    {{^entries}}
      <tr>
        <td colspan="5">
          <div class="empty-set">
            <h4 class="text-center muted">You haven't clocked in yet for this invoice cycle</h4>
          </div>
        </td>
      </tr>
    {{/entries}}
    </tbody>
  </table>
</section>
