defaults: &defaults
  adapter: mysql2
  encoding: utf8
  database: clocker
  pool: 5

development:
  <<: *defaults
  username: username
  password: password

production:
  <<: *defaults
  username: username
  password: password
