<header>
  <div class="container">
    <h1 class="pull-left">
      <a href="/" class="muted"><i class="icon-time"></i> Clocker</a>
    </h1>

    <form method="post" action="/account/login" class="form-inline pull-right">
      <input class="input-medium" type="text" name="email" placeholder="Email" />
      <input class="input-medium" type="password" name="password" placeholder="Password" />

      <button class="btn btn-primary" type="submit"><i class="icon-ok"></i></button>
    </form>
  </div>
</header>
